/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/


:root {
  color-scheme: light dark;   

/* Colors */
  --blue-10: hsl(216 100% 97%);
  --blue-100: hsl(216 100% 10%);
  --blue-20: hsl(216 100% 90%);
  --blue-30: hsl(216 100% 80%);
  --blue-40: hsl(216 100% 70%);
  --blue-50: hsl(216 100% 60%);
  --blue-50-alpha-30: hsl(216 100% 60% / 0.3);
  --blue-50-alpha-50: hsl(216 100% 60% / 0.5);
  --blue-60: hsl(216 100% 50%);
  --blue-70: hsl(216 100% 40%);
  --blue-80: hsl(216 100% 30%);
  --blue-90: hsl(216 100% 20%);
  --gray-10: hsl(216 24% 96%);
  --gray-100: hsl(213 13% 13%);
  --gray-20: hsl(216 11% 90%);
  --gray-30: hsl(215 5% 77%);
  --gray-40: hsl(215 4% 68%);
  --gray-50: hsl(214 3% 59%);
  --gray-60: hsl(214 3% 50%);
  --gray-70: hsl(214 4% 41%);
  --gray-80: hsl(214 5% 32%);
  --gray-90: hsl(214 8% 22%);
  --red-50: hsl(350 88% 57%);
  --red-50-a-30: hsl(350 88% 57% / 0.3);
  --red-50-a-50: hsl(350 88% 57% / 0.5);

/* Theme */
  /* background */
--background-layer-1: light-dark(var(--gray-10),var(--gray-100));
--background-layer-2: light-dark(hsl(0 0 100%),var(--gray-90));
--background-layer-3: light-dark(hsl(0 0 100%), var(--gray-100));
--background-layer-4: light-dark(var(--gray-20),var(--gray-100));
--background-brand: light-dark( var(--blue-50), var(--blue-50));
--background-brand-light: light-dark(var(--blue-40), var(--blue-40));
--background-brand-dark: light-dark(var(--blue-60), var(--blue-60));

  /* border colors */
--border-color-normal: light-dark(var(--gray-20), var(--gray-100));
--border-color-hard: light-dark(var(--gray-30), var(--gray-100));
--border-color-soft: light-dark(var(--gray-10), var(--gray-80));
--border-color-brand: light-dark(var(--blue-50),var(--blue-50));
--border-color-error: light-dark(var(--red-50),var(--red-50));

  /* color */
  
--color-normal: light-dark(var(--gray-100), var(--gray-10));
--color-soft: light-dark(var(--gray-70), var(--gray-30));
--color-light: light-dark(var(--gray-50), var(--gray-50));
--color-brand: light-dark(var(--blue-50), var(--blue-50));
--color-brand-light: light-dark(var(--blue-40), var(--blue-40));
--color-brand-dark: light-dark(var(--blue-60), var(--blue-60));
--color-error: light-dark(var(--red-50), var(--red-50));
  
  /* outline color*/
--outline-color-default: light-dark(var(--blue-50-alpha-30), var(--blue-50-alpha-50));
--outline-color-error: light-dark(var(--red-50-a-30), var(--red-50-a-50));
  
/* Radii */

  --radius-s: 0.1875rem;
  --radius: 0.375rem;
  --radius-l: 0.75rem;
  
/* whitespace */

  --space-1: 0.125rem;
  --space-2: 0.25rem;
  --baseline: 0.5rem;
  --space-3: var(--baseline);
  --space-4: 0.75rem;
  --space-5: 1rem;
  --space-6: 1.5rem;
  --space-7: 2rem;
  --space-8: 2.5rem;
  --space-9: 3rem;
  --space-10: 4rem;

/* Type */

  --type-scale-1: 0.75rem;
  --type-scale-2: 0.875rem;
  --type-scale-3: 1rem;
  --type-scale-4: 1.125rem;
  --type-scale-5: 1.25rem;
  --type-scale-6: 1.5rem;
  --type-scale-7: 1.75rem;
  --type-scale-8: 2rem;
  --type-scale-9: 2.25rem;
  --type-scale-10: 2.625rem;
}


/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
  font-size: 100%;
  line-height: 1.5;
  font-family: "Inter","Helvetica Neue", Helvetica, arial, sans-serif;
  scroll-behavior: smooth;
  /* anti aliasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
    Customize the background color and color to match your design.
*/

a {
  color: var(--color-brand);
}

a:hover {
  color: var(--color-brand-light);
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 87.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-9, 3rem);
  flex-shrink: 0;
}

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
  #COMPONENTS
/*---------------------------------------/*
 # LOGIN COMPONENT (BEM)
/*---------------------------------------*/

.login {
  background: var(--background-layer-1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-9) var(--space-5);
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-9, 3rem);
  flex-shrink: 0;
}

.login__logo {
    /* logo */
  --logo__path--circle-1: light-dark(var(--gray-100), #fff);
  --logo__path--circle-2: light-dark(var(--background-brand), #fff);
  --logo__path--text: light-dark(var(--gray-100), #fff);
}

.logo__circle1 {
  fill: var(--logo__path--circle-1);
}

.logo__circle2 {
  fill: var(--logo__path--circle-2);
}

.logo__text {
  fill: var(--logo__path--text);
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;  
  border-radius: var(--radius, 0.375rem);
  background: var(--background-layer-2, #35383D);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.login__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: var(--type-scale-4);
  line-height: var(--space-6);
  color: var(--color-normal);
  align-self: center;
}

.login__fields {
  display: flex;
  padding: var(--space-9, 3rem);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-9, 3rem);
  align-self: stretch;
}

.login__field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-3, 0.5rem);
  align-self: stretch;
  position: relative;
}

.login__input:focus-visible{
  box-shadow: 0 0 0 2px var(--outline-color-default, rgba(51, 133, 255, 0.50));
  outline: none;
}

.login__label {
  font-family: "Inter", sans-serif;
  font-size: var(--type-scale-2);
  color: var(--color-soft);
  margin-bottom: var(--space-3);
}

.login__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  align-self: stretch;
}

.login__input {
  width: 100%;
  padding: var(--space-5, 1rem) var(--space-9, 3rem) var(--space-5, 1rem) var(--space-5, 1rem);
  gap: 1.5rem;
  background: var(--background-layer-3);
  font-size: var(--type-scale-2);
  color: var(--color-light);
  border-radius: var(--radius-s, 0.1875rem);
  border: 1px solid var(--border-color-normal, #E2E5E8);
  background: var(--background-layer-3, #FFF);
}

.login__icon {
  position: absolute;
  right: var(--space-5);
  align-self: center;
  justify-self: center;
}

.login__checkbox-group {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  justify-content: center;
}

.login__checkbox-label {
  font-family: "Inter", sans-serif;
  font-size: var(--type-scale-2);
  color: var(--color-soft);
}

.login__actions {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  width: 100%;
}

.login__button {
  padding: var(--space-4, 0.75rem) 1.5rem;
  background: var(--background-brand);
  border: none;
  border-radius: var(--radius-s);
  cursor: pointer;
  color: #FFF;
}

.login__button:hover {
  background: var(--background-brand-light);
}
.login__button:focus-visible {
  /* Outline */
  box-shadow: 0 0 0 2px var(--outline-color-default, rgba(51, 133, 255, 0.50));
  outline: none;
}

.login__forgot {
  text-align: center;

  font-size: var(--type-scale-2);
  text-decoration: underline;
}

.login__footer {
  border-top: 1px solid var(--border-color-normal);
  padding: var(--space-6) var(--space-9);
  text-align: center;
}

.login__footer-text {
  color: var(--color-light);
  font-size: var(--type-scale-2);
  font-family: "Inter", sans-serif;
}

.login__checkbox{
  appearance: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color-normal);
  background-color: var(--background-layer-3);
  border-radius: var(--radius-s, 0.1875rem);
  filter: drop-shadow(0 0 0 var(--outline-color-default, rgba(51, 133, 255, 0.30)));
  position: relative;
}

.login__checkbox:checked::before {
  scale: 1;
}

.login__checkbox:before {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.5rem;
  clip-path: path('M8.26269 0.322235C8.63587 -0.0848693 9.26866 -0.112438 9.67578 0.260712C10.0829 0.63389 10.1105 1.26668 9.7373 1.6738L4.2373 7.6738C4.04237 7.88645 3.76495 8.00478 3.47656 7.99802C3.18815 7.99121 2.91615 7.86024 2.73144 7.63864L0.231442 4.63864C-0.122095 4.2144 -0.0648176 3.58304 0.359372 3.22946C0.783617 2.87592 1.41497 2.9332 1.76855 3.35739L3.53613 5.47849L8.26269 0.322235Z');
  scale: 0;
  background-color: var(--color-brand);
  /* transition: scale 0.2s ease; */
}
  
/*------------------------------------*/
/*
    Component: Component name
    ---
    Component description

    
*/


/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/